*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    text-align: center;
    padding: 2%;
    color: rgb(38, 3, 150);
    background-color: rgb(206, 226, 175);
}
#mainBody{
    background-color: rgb(71, 148, 54);
}
#span{
    font-weight: 500;
    padding: 2%;
    color:rgb(23, 22, 23);
}
.para{
    text-align: center ;
}